# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Dataset
chest_xrays/

# OS files
.DS_Store

# Node
node_modules/

# Vite
dist/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/
